# RPG Maker standard scripts
/Scripts/( Insert here ).rb
/Scripts/▼ Game Objects.rb
/Scripts/▼ Main Process.rb
/Scripts/▼ Materials.rb
/Scripts/▼ Modules.rb
/Scripts/▼ Scenes.rb
/Scripts/▼ Sprites.rb
/Scripts/▼ Windows.rb
/Scripts/BattleManager.rb
/Scripts/Cache.rb
/Scripts/DataManager.rb
/Scripts/Game_Action.rb
/Scripts/Game_ActionResult.rb
/Scripts/Game_Actor.rb
/Scripts/Game_Actors.rb
/Scripts/Game_BaseItem.rb
/Scripts/Game_Battler.rb
/Scripts/Game_BattlerBase.rb
/Scripts/Game_Character.rb
/Scripts/Game_CharacterBase.rb
/Scripts/Game_CommonEvent.rb
/Scripts/Game_Enemy.rb
/Scripts/Game_Event.rb
/Scripts/Game_Follower.rb
/Scripts/Game_Followers.rb
/Scripts/Game_Interpreter.rb
/Scripts/Game_Map.rb
/Scripts/Game_Message.rb
/Scripts/Game_Party.rb
/Scripts/Game_Picture.rb
/Scripts/Game_Pictures.rb
/Scripts/Game_Player.rb
/Scripts/Game_Screen.rb
/Scripts/Game_SelfSwitches.rb
/Scripts/Game_Switches.rb
/Scripts/Game_System.rb
/Scripts/Game_Temp.rb
/Scripts/Game_Timer.rb
/Scripts/Game_Troop.rb
/Scripts/Game_Unit.rb
/Scripts/Game_Variables.rb
/Scripts/Game_Vehicle.rb
/Scripts/load_order.txt
/Scripts/Main.rb
/Scripts/Scene_Base.rb
/Scripts/Scene_Battle.rb
/Scripts/Scene_Debug.rb
/Scripts/Scene_End.rb
/Scripts/Scene_Equip.rb
/Scripts/Scene_File.rb
/Scripts/Scene_Gameover.rb
/Scripts/Scene_Item.rb
/Scripts/Scene_ItemBase.rb
/Scripts/Scene_Load.rb
/Scripts/Scene_Map.rb
/Scripts/Scene_Menu.rb
/Scripts/Scene_MenuBase.rb
/Scripts/Scene_Name.rb
/Scripts/Scene_Save.rb
/Scripts/Scene_Shop.rb
/Scripts/Scene_Skill.rb
/Scripts/Scene_Status.rb
/Scripts/Scene_Title.rb
/Scripts/SceneManager.rb
/Scripts/Sound.rb
/Scripts/Sprite_Base.rb
/Scripts/Sprite_Battler.rb
/Scripts/Sprite_Character.rb
/Scripts/Sprite_Picture.rb
/Scripts/Sprite_Timer.rb
/Scripts/Spriteset_Battle.rb
/Scripts/Spriteset_Map.rb
/Scripts/Spriteset_Weather.rb
/Scripts/Vocab.rb
/Scripts/Window_ActorCommand.rb
/Scripts/Window_Base.rb
/Scripts/Window_BattleActor.rb
/Scripts/Window_BattleEnemy.rb
/Scripts/Window_BattleItem.rb
/Scripts/Window_BattleLog.rb
/Scripts/Window_BattleSkill.rb
/Scripts/Window_BattleStatus.rb
/Scripts/Window_ChoiceList.rb
/Scripts/Window_Command.rb
/Scripts/Window_DebugLeft.rb
/Scripts/Window_DebugRight.rb
/Scripts/Window_EquipCommand.rb
/Scripts/Window_EquipItem.rb
/Scripts/Window_EquipSlot.rb
/Scripts/Window_EquipStatus.rb
/Scripts/Window_GameEnd.rb
/Scripts/Window_Gold.rb
/Scripts/Window_Help.rb
/Scripts/Window_HorzCommand.rb
/Scripts/Window_ItemCategory.rb
/Scripts/Window_ItemList.rb
/Scripts/Window_KeyItem.rb
/Scripts/Window_MapName.rb
/Scripts/Window_MenuActor.rb
/Scripts/Window_MenuCommand.rb
/Scripts/Window_MenuStatus.rb
/Scripts/Window_Message.rb
/Scripts/Window_NameEdit.rb
/Scripts/Window_NameInput.rb
/Scripts/Window_NumberInput.rb
/Scripts/Window_PartyCommand.rb
/Scripts/Window_SaveFile.rb
/Scripts/Window_ScrollText.rb
/Scripts/Window_Selectable.rb
/Scripts/Window_ShopBuy.rb
/Scripts/Window_ShopCommand.rb
/Scripts/Window_ShopNumber.rb
/Scripts/Window_ShopSell.rb
/Scripts/Window_ShopStatus.rb
/Scripts/Window_SkillCommand.rb
/Scripts/Window_SkillList.rb
/Scripts/Window_SkillStatus.rb
/Scripts/Window_Status.rb
/Scripts/Window_TitleCommand.rb

# Other RPG Maker files
/Audio
/Data
/Graphics
/Movies
/System
/Game.ini
/Game.exe
/Game.rvproj2
.rgss-script-editor
